gradio
langgraph 
langgraph-checkpoint-postgres
langchain_postgres
langchain_community 
pypdf
huggingface_hub
pydantic==2.10.6
python-dotenv
# langchain-google-genai
langchain-ollama 
# langchain-together